@model KnowledgeHubPortal.WebApplication.Models.Domain.Entities.URLCategoryViewModel
@{
    ViewBag.Title = "SubmitURL";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div class="container mt-5">
    <h3 class="text-center">Submit URL</h3>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" action="@Url.Action("SubmitURL", "URLs")">
                <div class="form-group">
                    <label for="UrlTitle">URL Title:</label>
                    <input type="text" class="form-control" id="UrlTitle" name="URLModel.UrlTitle" value="">
                </div>
                <div class="form-group">
                    <label for="Url">URL:</label>
                    <input type="text" class="form-control" id="Url" name="URLModel.Url" value="">
                </div>
                <div class="form-group">
                    <label for="UrlDescription">URL Description:</label>
                    <textarea class="form-control" id="UrlDescription" name="URLModel.UrlDescription"></textarea>
                </div>
                <div class="form-group">
                    <label for="Category">Category:</label>
                    <select class="form-control" id="Category" name="URLModel.CategoryID">
                        <option value="">Select Category</option>
                        @if (Model.CategoryModel != null)
                        {
                            foreach (var category in Model.CategoryModel)
                            {
                                <option value="@category.CategoryID">@category.CategoryName</option>
                            }
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



