@model AirlineManagementWebApplication.Models.Domain.Entities.City
@{
    ViewBag.Title = "Add";
    var countryList = ViewBag.CountryList as List<AirlineManagementWebApplication.Models.Domain.Entities.Country>;
}

<h2>Add City</h2>

<form method="post" action="@Url.Action("Add", "Cities")">
    @Html.HiddenFor(model => model.CityId)

    <div class="form-group">
        <label for="CityName">City Name</label>
        <input type="text" class="form-control" id="cityName" name="CityName" required>
    </div>
    <div class="form-group">
        <label for="CityCode">City Code</label>
        <input type="text" class="form-control" id="cityCode" name="CityCode" required>
    </div>

    <div class="form-group">
        <label for="TheCountry.CountryId">Country</label>
        @if (ViewBag.CountryList != null && ViewBag.CountryList.Count > 0)
        {
            @Html.DropDownListFor(model => model.TheCountry.CountryId, new SelectList(ViewBag.CountryList, "CountryId", "CountryName"), "Select Country", new { @class = "form-control" })
        }
        else
        {
            <p>No countries available.</p>
        }
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
