@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Knowledge Hub Portal</h1>
        <p class="lead">This portal is all about sharing a link or url with the community which benefits both link owner and community. </p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>*@
    </section>

    <div class="row">
        
    </div>
</main>